<section>
  <div class="container">
    <!-- Card -->
    <div class="card">
      <!-- Card content -->
      <div class="card-body">
        <!-- FORM -->
        <!-- Default form register -->
        <form
          class="text-center border border-light p-5"
          [formGroup]="userForm"
          (ngSubmit)="onSubmit()"
        >
          <p class="h4 mb-4">Criar Novo Usuário</p>

          <div class="form-row">
            <div class="col-md-6">
              <div class="md-form form-group">
                <!-- First name -->
                <input
                  mdbInput
                  mdbValidate
                  type="text"
                  id="primeiroNome"
                  class="form-control"
                  placeholder="Primeiro Nome"
                  formControlName="nome"
                  [onReturnSendTab]
                />
                <label for="primeiroNome">Primeiro Nome</label>
                <mdb-error *ngIf="submited && hasError('nome')">{{
                  hasError("nome")
                }}</mdb-error>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form form-group">
                <!-- Last name -->
                <input
                  mdbInput
                  mdbValidate
                  type="text"
                  id="sobrenome"
                  class="form-control"
                  placeholder="Sobrenome"
                  formControlName="sobrenome"
                  [onReturnSendTab]
                />
                <label for="sobrenome">Sobrenome</label>
              </div>
            </div>
          </div>

          <div class="form-row">

            <div class="col-md-6">
              <!-- Phone number -->
              <div class="md-form form-group">
                <input
                  mdbInput
                  mdbValidate
                  type="text"
                  id="telefone"
                  class="form-control"
                  placeholder="Telefone"
                  formControlName="telefone"
                  [onReturnSendTab]
                />
                <label for="telefone">Telefone/Celular</label>
              </div>
            </div>

            <div class="col-md-6">
              <!-- Phone number -->
              <div class="md-form form-group">
                <input
                  mdbInput
                  mdbValidate
                  type="text"
                  id="wathsapp"
                  class="form-control"
                  placeholder="wathsapp"
                  formControlName="wathsapp"
                  [onReturnSendTab]
                />
                <label for="wathsapp">Wathsapp</label>
              </div>
            </div>

          </div>

          <div class="form-row">

            <div class="col">
              <!-- E-mail -->
              <div class="md-form">
                <input
                  mdbInput
                  mdbValidate
                  class="form-control"
                  formControlName="email"
                  type="email"
                  id="email"
                  placeholder="E-mail"
                  formControlName="email"
                  [onReturnSendTab]
                />
                <label for="email">Email</label>
                <mdb-error *ngIf="submited && hasError('email')">{{
                  hasError("email")
                }}</mdb-error>
              </div>
            </div>
          </div>

          <div class="form-row d-flex justify-content-center">
            <div class="col-sm-8 col-md-4">
              <!-- Password -->
              <div class="md-form">
                <input
                  mdbInput
                  mdbValidate
                  formControlName="password"
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="Senha"
                  formControlName="password"
                  [onReturnSendTab]
                />
                <label for="password">Senha do Usuário</label>
                <mdb-error *ngIf="submited && hasError('password')">{{
                  hasError("password")
                }}</mdb-error>
              </div>

              <!-- Sign up button -->
              <button mdbBtn color="info" block="true" class="my-4" type="submit">
                Criar
              </button>

            </div>
          </div>

          <hr />
        </form>
        <!-- Default form register -->
      </div>
    </div>
    <!-- Card -->
  </div>
</section>
