.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-titulo {
  margin: 3vh 0 0 0;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(185, 0, 0);
}

.login-frame {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 7vh 0 5vh 0;
  width: 40vw;
  max-width: 600px;
  height: 35vh;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.253);
  border-radius: 15px;
}

.icon-top {
  position: absolute;
  top: -40px;
  z-index: 1;
  font-size: 5em;
  color: rgba(55, 142, 169, 0.541);
}

.usuario {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 90%;
}

.box-input {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  margin: 10px 0;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);

  i {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    font-size: 2em;
    color: darkgray;
  }

  .user-inputs {
    position: relative;
    left: 5px;
    border: none;
    width: 70%;
    font-size: 1.5rem;
    background-color: transparent;
  }

  .user-inputs:focus {
    outline: 0;
  }

  .user-inputs::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(177, 177, 177);
    opacity: 1; /* Firefox */
  }

}

.box-input-invalid {
  border: 3px solid rgba(211, 16, 16, 0.445)
}

.login-butao {
  background-color: rgba(55, 142, 169, 0.541);
  border-radius: 10px;
  border-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3vh;
  width: 50%;
  height: 50px;

  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: coral;
  }
}

// Medium devices (tablets, less than 992px)
// @media screen and (max-width: 900px) and (min-width: 600px)
@media (max-width: 1024px) and (min-width: 768px) {
  .login-frame {
    margin: 7vh 0 5vh 0;
    width: 70vw;
    height: 32vh;
  }

  .icon-top {
    font-size: 5rem;
  }

  .box-input {
    height: 50px;
    
    .user-inputs {
      left: 10px;
      width: 75%;
    }
  }

  .login-butao {
    margin-bottom: 2vh;
    width: 50%;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .login-titulo {
    font-size: 1.5rem;
  }

  .login-frame {
    justify-content: center;
    width: 90vw;
    height: 32vh;
    border-radius: 15px;
  }

  .icon-top {
    //top: -35px;
    font-size: 4rem;
  }

  .usuario{
    margin-top: 1.5vh;
  }

  .box-input {
    margin: 10px 0;
    height: 40px;
    width: 90%;

    i {
      width: 30px;
      margin: 0 10px;
      font-size: 1.5em;
    }

    .user-inputs {
      left: 10px;
      width: 75%;
      font-size: 1rem;
      background-color: transparent;
    }
  }

  .login-butao {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    width: 50%;
    height: 40px;
  }
}
