div {
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

h1 {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
        margin: 0;
    }
}