<!--Navbar-->
<mdb-navbar 
  SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark sticky-top scrolling-navbar" 
  [containerInside]="true"
>

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a 
      class="navbar-brand mr-5 font-weight-bold" 
      href="#"
      [routerLink]="['/']">
      FAES
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <!-- Menu Home/INICIO -->
      <li class="nav-item mr-3">
        <a 
          class="nav-link waves-light" 
          mdbWavesEffect
          [routerLink]="['/home']" 
          routerLinkActive="activeLink">
            Início
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- Dropdown IGREJA-->
      <li class="nav-item dropdown mr-3" dropdown>
        <a 
          dropdownToggle 
          mdbWavesEffect
          [ngClass]="{activeLink: isIgrejaRoute}"
          type="button" 
          class="nav-link dropdown-toggle waves-light" 
          mdbWavesEffect>
          Igreja<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <!-- CONFISSAO -->
          <a 
            class="dropdown-item waves-light" 
            [routerLink]="['/igreja/confissao']"
            mdbWavesEffect>Confissão
          </a>
          <!-- ORAGANIZACAO -->
          <a
            class="dropdown-item waves-light"
            [routerLink]="['/igreja/organizacao']"
            mdbWavesEffect>Organização
          </a>
          <!-- DIVIDER -->
          <div class="divider dropdown-divider"></div>
          <!-- NOSSA HISTORIA -->
          <a 
            class="dropdown-item waves-light"
            [routerLink]="['/igreja/historia']" 
            mdbWavesEffect>Nossa História
          </a>
        </div>
      </li>

      <!-- Dropdown DEPARTAMENTOS -->
      <li class="nav-item dropdown mr-3" dropdown>

        <a dropdownToggle 
          mdbWavesEffect
          [ngClass]="{activeLink: isDepartamentoRoute}"
          type="button" 
          class="nav-link dropdown-toggle waves-light" 
          mdbWavesEffect
        >
          Ministérios<span class="caret"></span>
        </a>

        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">

          <!-- DEPARTAMENTO MULHERES -->
          <a 
            class="dropdown-item waves-light"
            [routerLink]="['/departamento/mulheres']" 
            mdbWavesEffect href="#">FAES Mulheres
          </a>

          <!-- DEPARTAMENTO JOVENS -->
          <a
            class="dropdown-item waves-light"
            [routerLink]="['/departamento/jovens']" 
            mdbWavesEffect href="#">FAES Jovens
          </a>

          <!-- DEPARTAMENTO ADOLESCENTES -->
          <a 
            class="dropdown-item waves-light"
            [routerLink]="['/departamento/adolescentes']" 
            mdbWavesEffect href="#">FAES Adolescentes
          </a>

          <!-- DEPARTAMENTO CRIANCAS -->
          <a 
            class="dropdown-item waves-light" 
            [routerLink]="['/departamento/criancas']" 
            mdbWavesEffect href="#">FAES Crianças
          </a>

          <div class="divider dropdown-divider"></div>

          <!-- DIRETORIA -->
          <a 
            class="dropdown-item waves-light"
            [routerLink]="['/departamento/diretoria']" 
            mdbWavesEffect href="#">Diretoria
          </a>

        </div>
      </li>

      <!-- Menu CONTATO -->
      <li class="nav-item">
        <a 
          class="nav-link waves-light"
          [routerLink]="['/contato']" 
          routerLinkActive="activeLink" 
          mdbWavesEffect>Contato
        </a>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <!-- <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0 mb-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Procurar">
        <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Procurar</button>
      </div>
    </form> -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->