<div class="container">
    <div class="box flex">
      <div class="border flex">
        <div class="box-header">
          <h4>Newsletter</h4>
          <p>Clicar em um dos botões acima para acessar os formulários.</p>
        </div>
        <div class="box-content flex">
  
        </div>
        <div class="box-footer">
          <button type="button" mdbBtn color="success" size="sm" mdbWavesEffect (click)="submitUrl()">Enviar</button>
          <button type="button" mdbBtn color="danger" size="sm" mdbWavesEffect (click)="cancelUrl()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>