.naoencotrado {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
}

.naoencotrado fa-Icon {
    padding-right: 10px;
}

h2 {
    color: rgb(167, 24, 24)
}