@import '../shared/styles/cores.scss';

.naoencotrado {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 500;
        color: $cor-primaria;
    }

}

img {
    width: 300px;
}

.naoencotrado fa-Icon {
    padding-right: 10px;
}

h2 {
    color: rgb(167, 24, 24)
}