<section>
  <div class="container">
    <!-- Box -->
    <div class="box flex">
      <!-- border box -->
      <div class="border flex">
        <!-- header box -->
        <div class="box-header">
          <!-- Title -->
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4>{{ titulo }}</h4>
              <p>{{ subTitulo }}</p>
            </div>
            <button
              type="button"
              mdbBtn
              color="primary"
              mdbWavesEffect
              (click)="emitAddModal()"
            >
              {{ buttonAddText }}
            </button>
          </div>
        </div>
        <!-- /header box -->

        <!-- box content -->
        <div class="box-content flex">
          <ng-content></ng-content>
        </div>
        <!-- /box content -->
      </div>
      <!-- /border box -->
    </div>
    <!-- /box -->
  </div>
  <!-- /Container -->
</section>
