$base-color: rgb(190, 8, 8);

.col {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.noticias-full {
  padding: 5vh 2vw 10vh 2vw;
  background-image: url(../../../../assets/images/backgrounds/stripes-light.png);
  background-blend-mode: color-burn;
}

.noticia-header {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin: 2vh 0;
  border-bottom: 5px dotted rgba(85, 11, 11, 0.287);
  padding: 0 2vh;

  h1 {
    font-weight: 900;
    color: $base-color;
  }

  i {
    margin-right: 0.6vw;
  }

  .noticia-header-navbtn i {
    color: $base-color;
    font-size: 32px;
    overflow: hidden;

    &:hover {
      color: darken($color: $base-color, $amount: 20%);
    }
  }
}

.noticia-texto{
  .noticia-titulo{
    color:black;
    transition: 0.5s
  }

  .noticia-descricao{
    color:black;
    transition: 0.5s;
  }
}

.noticia-texto:hover {
  .noticia-titulo{
    color:blue;
  }

  .noticia-descricao{
    color:blue
  }
}
  
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 766px) {
  .noticia-titulo {
    font-size: 0.55rem;
    font-weight: 300;
  }

  .noticia-descricao {
    font-size: 1rem;
    font-weight: 300;
  }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 767px) {
  .noticia-titulo {
    font-size: 0.65rem;
    font-weight: 300;
  }

  .noticia-descricao {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 991px) {
  .noticia-titulo {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .noticia-descricao {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199px) {
  .noticia-titulo {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .noticia-descricao {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

/* 

html {
font-size: 1rem;
}

@include media-breakpoint-up(sm) {
html {
font-size: 1.2rem;
}
}

@include media-breakpoint-up(md) {
html {
font-size: 1.4rem;
}
}

@include media-breakpoint-up(lg) {
html {
font-size: 1.6rem;
}
}

*/
