$base-color: rgb(190, 8, 8);

.col {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.noticias-full {
    padding: 5vh 2vw 10vh 2vw;
    background-image: url(../../../../assets/images/backgrounds/stripes-light.png);
    background-blend-mode: color-burn;
}

.noticia-header {
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin: 2vh 0;
    border-bottom: 5px dotted rgba(85, 11, 11, 0.287);
    padding: 0 2vh;

    h1 {
        font-weight: 900;
        color:$base-color;
    }

    i {
        margin-right: 0.6vw;
    }
    
    .noticia-header-navbtn i {
        color: $base-color;
        font-size: 32px;
        overflow: hidden;
        
        &:hover {
            color: darken($color: $base-color, $amount: 20%);
        };
    };
}

img {
    border-radius: 10px;
}

.mask {
    //align-items: center;
    //align-content: center;
    border: 5px solid rgba(26, 33, 133, 0.514);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .noticia-descricao {
        padding: 10px;

        .noticia-titulo {
            border-bottom: 2px solid rgba(0, 0, 0, 0.445);
            margin-bottom: 10px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            width: 100%;
            color: black;
        }
        
        .noticia-texto {
            color: black
        }
    }
}