<!-- CAROUSEL -->
<div class="container-fluid" [ngStyle]="{ backgroundImage: imgBackURL }">
    <div class="row" *ngIf="imagens.length">

        <!--Carousel Wrapper-->
        <mdb-carousel class="carousel slide carousel-fade mx-auto" [animation]="'fade'" [isControls]="true">

            <!--First slide-->
            <mdb-carousel-item *ngFor="let imagem of imagens" class="d-flex justify-content-center">
                <!-- img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide" -->
                <img class="carousel-image" [src]="imagem" alt="First slide">

            </mdb-carousel-item>
            <!--/First slide-->

        </mdb-carousel>
        <!--/.Carousel Wrapper-->
    </div>
    <div *ngIf="!imagens.length" class="d-flex justify-content-center spinner align-items-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- /CAROUSEL -->

