<!-- CAROUSEL -->
<div class="container-fluid" [ngStyle]="{ backgroundImage: imgBackURL }">
    <div class="row">

        <!--Carousel Wrapper-->
        <mdb-carousel class="carousel slide carousel-fade mx-auto" [animation]="'fade'" [isControls]="true">

            <!--First slide-->
            <mdb-carousel-item *ngFor="let imagem of imagens">
                <!-- img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide" -->
                <img class="w-100" [src]="imagem" alt="First slide">

            </mdb-carousel-item>
            <!--/First slide-->

        </mdb-carousel>
        <!--/.Carousel Wrapper-->

    </div>
</div>
<!-- /CAROUSEL -->

