$base-color: rgb(190, 8, 8);

.col {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.agendaFull {
    padding: 1vh 2vw 10vh 2vw;
    background-image: url(../../../assets/images/backgrounds/stripes-light.png);
    background-blend-mode: color-burn;
}

.card-text {
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}

.card-footer p {
    padding: 10px;
    margin-bottom: 0 !important;
}

.agenda-header {
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin: 2vh 0;
    border-bottom: 5px dotted rgba(85, 11, 11, 0.287);
    padding: 0 2vh;

    h1 {
        font-weight: 900;
        color:$base-color;
    }

    i {
        margin-right: 0.6vw;
    }
    
    .agenda-header-navbtn i {
        color: $base-color;
        font-size: 32px;
        overflow: hidden;
        
        &:hover {
            color: darken($color: $base-color, $amount: 20%);
        };
    };

}

