.modal-title{
    color: white;
    font-weight: 400;
}

.modal-footer{
    margin: 0 !important;
    padding-bottom: 30px !important;
    padding-top: 0 !important;
}

mdb-error {
    margin-top: 7px;
}